@model Entity.TipoIngrediente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TipoIngrediente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CTipoIngrediente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTipoIngrediente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NTipoIngrediente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NTipoIngrediente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.CTipoIngrediente  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
