@model IEnumerable<Entity.Direccion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CDireccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NDireccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CTipoDireccion.NTipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CDistrito.NDistrito)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CDireccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NDireccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CTipoDireccion.NTipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CDistrito.NDistrito)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
