@model Entity.Empleado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CDniEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CDniEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TDireccionEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TDireccionEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumTelefonoEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumTelefonoEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FActivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FActivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CRol.NRol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CRol.NRol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CJefe.NEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CJefe.NEmpleado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.CEmpleado  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
