@model Entity.Venta_ProductoPersonalizado

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Venta_ProductoPersonalizado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CVenta_Pro_Per)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVenta_Pro_Per)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CVenta.CVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVenta.CVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CIngrediente.NIngrediente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIngrediente.NIngrediente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QUsadaIngrediente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUsadaIngrediente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioXGramo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioXGramo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
