@model IEnumerable<Entity.Local>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CLocal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TDireccionLocal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumTelefono)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TDireccionLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumTelefono)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CLocal }) |
                @Html.ActionLink("Details", "Details", new { id = item.CLocal }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CLocal })
            </td>
        </tr>
    }

</table>
