@model IEnumerable<Entity.Orden_ProductoPersonalizado>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.COrden_Pro_Per)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QOrdenProductoPersonalizado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COrden.COrden)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CIngrediente.NIngrediente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEmpleado.NEmpleado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.COrden_Pro_Per)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QOrdenProductoPersonalizado)
        </td>

        <th>
            @Html.DisplayFor(modelItem => item.COrden.COrden)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.CIngrediente.NIngrediente)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.CEmpleado.NEmpleado)
        </th>

        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
