@model IEnumerable<Entity.Distrito>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CDistrito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NDistrito)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CDistrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NDistrito)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CDistrito }) |
                @Html.ActionLink("Details", "Details", new { id = item.CDistrito }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CDistrito })
            </td>
        </tr>
    }

</table>
