@model IEnumerable<Entity.Producto_Ingrediente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CProducto_Ingrediente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CProducto.NProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CIngrediente.NIngrediente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUsadaIngrediente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUnidadMedidaUsada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CProducto_Ingrediente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CProducto.NProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CIngrediente.NIngrediente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QUsadaIngrediente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUnidadMedidaUsada)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.CProducto_Ingrediente}) |
            @Html.ActionLink("Details", "Details", new {  id=item.CProducto_Ingrediente }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.CProducto_Ingrediente })
        </td>
    </tr>
}

</table>
