@model IEnumerable<Entity.Tipo_Direccion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CTipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NTipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CTipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NTipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.CTipo  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.CTipo  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.CTipo  })
        </td>
    </tr>
}

</table>
